{% extends "base/base.html" %}
{% block body %}
<h1 class="mb-4">Create Department</h1>
<form method="post" action="{% url 'department_create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-sm" name="name" required/>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-10 float-right">Create Department</button><br>
      </div>
</form>
{% endblock %}