{% extends "base/base.html" %}
{% block body %}
	<h1>Permission List</h1>
    <a href="{% url 'permission_create' %}">Create Permission</a>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for permission in permissions %}
			<tr>
				<td>{{ permission.id }}</td>
				<td>{{ permission.name }}</td>
				<td>
					<a href="{% url 'permission_update' permission.id %}">Edit</a>
					<form action="{% url 'permission_delete' permission.id %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ permission.id }}">
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">No permissions found.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endblock %}
